@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

.blog-section {
  margin: 20px 0 ;
}
#select {
  margin-bottom: 10px;
  padding: 10px;
}
.options {
  padding: 5px;
  outline: none;
}
.dog-display {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  height: 70vh;
  width: 100%;
}
#dog-images {
  width: 100%;
  height: 100%;
  background-color: #333;
  position: relative;
}
#breed-img {
  height: 80%;
  width: 70%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  right: 15%;
  top: 10%;
}